span {
  width: 106px;
  height: 19px;
  opacity: 1;
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 6%;
  text-transform: capitalize;
  color: #74642F;
}
.card-text {
  width: 418px;
  height: 83px;
  opacity: 1;
  font-family: Inter;
  font-weight: 400;
  font-size: 26px;
  line-height: 166%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #173f5f;
}
