footer{
    background-color: #ED553B;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    ul li{
        list-style-type: none;
        margin: 5px 0;
    }
    a {
        color: #ffffff;
        text-decoration: none;
    
        &:hover {
        text-decoration: underline;
        }
    }
}