mat-toolbar {
  background-color: #393280;
  color: white;
  mat-icon {
    color: white;
  }

  .image-container {
    width: 86px;
    height: 86px;
    opacity: 1;
    border-radius: 43px;
  }
}

ul li {
  display: inline-block;
  margin-right: 15px;
  font-family: Inter;
  font-weight: 800;
  font-size: 18px;
  text-transform: capitalize;
}

.active {
  color: #ed553b;
}

.footer {
  background-color: #ed553b;
  color: white;
  mat-icon {
    color: white;
  }
}

.explore-header {
  color: #393280;
  width: 514.41px;
  height: 41.89px;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
}

.explore {
  margin-top: 40px;
  // height: 250px;
}

// NEW Realese Book Section

.new-release-book {
  width: 100%;
  height: 976px;
  background-color: #fcecec;

  .some-quality-header {
    font-family: Inter;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 12%;
    text-align: center;
    text-transform: uppercase;
    color: #7a7a7a;
  }
  .new-release-header {
    margin-top: 20px;
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #393280;
  }
}

// ************* book card style

.book-wrapper {
  position: relative;
  width: 280px;
  height: 360px;
}

.white-card {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.book-image {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  z-index: 2;
}

.book-title {
  width: 264px;
  height: 27px;
  font-family: Inter;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #393280;
}
.writer {
  color: #888888;
}
.price {
  width: 72px;
  height: 22px;
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 2%;
  text-align: center;
  text-transform: capitalize;
  color: #ed553b;
}
