// .book-wrapper {
//   position: relative;
//   width: 280px;
//   height: 360px;

//   .white-card {
//   width: 100%;
//   height: 100%;
//   object-fit: contain;
// }

// .book-image {
//   position: absolute;
//   top: 3%;
//   left: 50%;
//   transform: translateX(-50%);
//   width: 250px;
//   z-index: 2;
// }

// }
section {
  overflow: hidden;
}

.section-title {
  font-family: Inter;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #393280;
  margin-bottom: 70px;
}
.book-title {
  font-family: Inter;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #393280;
  margin-bottom: 70px;
}

.book-description {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 208%;
  letter-spacing: 2%;
  color: #7a7a7a;
  margin-top: 20px;
}

.price {
  width: 91px;
  height: 28px;
  top: 456px;
  left: 772px;
  font-family: Inter;
  font-weight: 700;
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: capitalize;
  color: #ed553b;
}
.book-wrapper {
  width: 60%;
}
.book-image {
  width: 60%;
  height: 100%;
  border-width: 15px;
}
